.title{
  margin-top: 250px;
}
.container{
  padding: 50px 20px;
}

.container .card{
  width: 400px;
  margin: 50px 20px;
  transform-style: preserve-3d;
}

.container .card:hover{
  height: 440px;
}

.container .card .imgBx{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  min-width: initial;
  width: 400px;
  border-radius: 4px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);  
  transform-style: preserve-3d;
  transition: 0.5s;
}

.container .card .imgBx img{
  max-width: 100%;
  border-radius: 4px;
}

.container .card .content{
  position: relative;
  padding: 10px 15px;
  color: #ce2a2a;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  transform: translateY(-140px) scale(1);
}

.container .card:hover .content{
  visibility: visible;
  opacity: 1;
  transform: translateY(-40px) scale(1);
}

.container .card:hover .imgBx{
  top: -60px;
  left: 20px;
  right: 20px;
  width: 360px;
}

.mobileImgBx {
  aspect-ratio: 1 / 1;
}

.mobileCard {
    width: 300px;
    height: 400px;
    margin: 50px 20px;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    border-radius: 4px;
    flex-direction: column;
    transform-style: preserve-3d;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);    
  }

  .mobileContent {
    color: #ce2a2a;
    margin-top: -20px;
  }
  #projects {
    scroll-margin-top: -200px; /* Reduziert den Abstand zur oberen Kante */
  }

  .flickity-slider{
  width: 90%;              /* Die Slider-Breite auf 90% setzen */
  margin: 0 auto;          /* Zentriert den Slider horizontal */
  justify-content: center; /* Zentriert den Sliderinhalt horizontal */
  align-items: center;     /* Zentriert den Inhalt vertikal */
  position: relative;
  }
  .flickity-prev-next-button {
    width: 20px;        /* Kleinere Breite */
    height: 20px;       /* Kleinere Höhe */
    font-size: 18px;    /* Kleinere Schriftgröße (optional, je nach Design) */
    border-radius: 50%; /* Runde Ecken für die Buttons (optional) */
    display: flex;      /* Flexbox für zentrierten Inhalt */
    align-items: center; /* Zentriert den Inhalt vertikal */
    justify-content: center; /* Zentriert den Inhalt horizontal */
  }
  
  .flickity-prev-next-button:before {
    font-size: 18px;    /* Größe des Icons (Pfeil) */
    color: white;       /* Farbe des Pfeils */
  }