
.header {
  position: sticky; 
  top: 0; 
  z-index: 10;
  margin: 0 auto  auto; /* Zentriert horizontal und behält den unteren Abstand */
  background: transparent !important;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex; 
  justify-content: flex-end;
  align-items: center; 
  width: 80%; /* Stellt die Breite des Headers ein */
}


.inner {
  display: flex;
  justify-content: flex-end; 
  align-items: center; 
  text-decoration: none;
}

/* Standard-Link-Styling */
.link {
  display: block;
  line-height: 1;
  padding: 17px;
  margin-right: 5px;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  font-size: var(--mantine-font-size-xl);
  font-weight: 500;
  transition: color 0.9s ease; /* Weicher Übergang der Schriftfarbe */
}


.lightHeader .link {
  color: black; 
}


.darkHeader .link {
  color: white; 
}
.lightDropdown .menuItem{
  color: black;
}

.darkDropdown .menuItem{
  color: white;
}

.dropdownMenu {
  background: rgba(255, 255, 255, 0.1); /* Halbtransparenter Hintergrund */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Sanfter Schatten */
  border: 1px solid rgba(255, 255, 255, 0.18); /* Transparente Umrandung */
  transition: all 0.3s ease; /* Weicher Übergang */
}

.dropdownMenu:hover {
  background: rgba(255, 255, 255, 0.1); /* Leicht heller bei Hover */
  backdrop-filter: blur(12px); /* Stärkere Unschärfe */
  -webkit-backdrop-filter: blur(12px);
}


/* Einzelne Links im Dropdown */
.menuItem {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.menuItem:hover {
 
  color: rgb(28, 31, 216); /* Hover-Textfarbe */
}

.externalLink {
  color: #007bff;
  font-weight: bold;
  text-decoration: underline;
}

.header {
  transition: color 0.3s ease; /* Weicher Übergang der Schriftfarbe */
}
