
#about {
    position: relative;
    height: 110vh;
    background-image: url('bg.jpg'); 
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    padding-top: 56px;
    margin-top:-290px;
  }
    
  
  .container {
    position: relative; 
    padding: 50px 0; 
  }
  
  
  .titleAbout {
    color: white; 
    text-align: center;
    margin-top:80px;
    
  }
  
  
  .textAbout {
    color: white; 
    text-align: center;
    margin-top: 100px;
    font-size: xx-large;
    
  }
  
  .profilImg {
    width: 300px;
    margin-left: 890px;
    margin-top: 0;

  }

  .socialIcons{
    color:white;
    
  }
  